Sync.vcxproj
Sync.vcxproj.filters
Sync.vcxproj.user

Debug/		# after compile, create directory
Release/	# after compile, create directory

dir_path/**			# test dirctory
backup/**				# backup.7z's original directory
backup/dir_path/	# backup.7z's original directory